{% extends 'Mainpage/base.html' %}
{% load static %}

{% block title %}
	Main Page
{% endblock %}

{% block content %}
	<div style="text-align: center">
		<img src="{% static 'Mainpage/img/banner.jpg' %}" alt="main picture" width="800" height="400">
	</div>
	<div style="text-align: center">
		<a href='{% url "wish" %}'>
			<img src="static/Mainpage/img/wish.png"
			onmouseover=this.src="{% static 'Mainpage/img/wish-hover.png' %}"
			onmouseout="this.src='static/Mainpage/img/wish.png'"
			alt="Wish" width="250" height="80">
		</a>
	</div>
<div style="width: 100%; height: 70px; background-color: rgba(171, 171, 171, 1); margin-top: 100px; position: relative; bottom: 0"></div>
{% endblock %}
